nav.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    z-index: 1000;
  }

  .logo {
    width: 80px;
    cursor: pointer;
    filter:invert(1);
  }

  .openSeaLogo {
    width: 30px;
    margin-left: 4px;
  }
  
  nav.nav-bar .navigation {
    display: flex;
    position: relative;
  }

  /* .btn-navbar {
    width: 180px;
    height: 40px;
    font-weight: 600;
    font-family: inherit;
    border: bold;
    cursor: pointer;
    letter-spacing: 0px;
    transition: background 0.5s;
    border: none;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    color: #000;
    background: #fff;
    border-radius: 5px;
  } */

  .btn-navbar {
    width: 200px;
    height: 50px;
    font-weight: 600;
    font-family: inherit;
    border: bold;
    cursor: pointer;
    transition: 0.5s;
    font-size: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: transparent;
    text-transform: uppercase;
    overflow: hidden;
    border: 0.2em solid;
	  position: relative;
	  cursor: pointer;
	  overflow: hidden;
	  color: #fff;
    opacity: 1;
    
}

.btn-navbar:hover {
  opacity: 0.6;
}

  .navigation li {
    margin-left: 2rem;
  }
  
  .navigation li a {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.5s;
  }
  
  .navigation li a:hover {
    color: chocolate;
  }
  
  .toggle-menu {
    display: none;
  }

  @media (max-width:1287px) {
    nav.nav-bar {
      padding: 30px 22px;
    }
  }
  
  @media (max-width: 992px) {
  
    .toggle-menu {
      display: block;
    }

    nav.nav-bar {
      padding: 63px 22px 0px 22px;
    }
  
    nav.nav-bar .navigation {
      position: absolute;
      display: flex;
      justify-content: flex-start;
      width: 45%;
      background: rgba(0,0,0, 0.9);
      color: #ffff;
      align-items: flex-start;
      flex-direction: column;
      padding: 60px;
      top: -20px;
      left: 0px;
      height: 103vh;
      transition: all 0.5s ease-in-out;
      border-right: 2px solid #000;
      transform : translateX(-1000px)
  }
  
  nav.nav-bar .navigation.active {
      transform: translateX(-20px);
  }
  
  .navigation li {
    margin: 10px 0px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
  
  .toggle-menu {
      position: relative;
      background-image: url(../../images/icon-hamburger.svg);
      height: 30px;
      width: 40px;
      background-size: 37px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }
  
  
  }
  
   @media (min-width: 481px) and (max-width: 767px) {
    nav.nav-bar .navigation {
      width: 70%;
    }
    
  } 
  
  
  @media (min-width: 320px) and (max-width: 480px) {
    nav.nav-bar .navigation {
      width: 80%;
    }

    nav.nav-bar {
      justify-content: center;
    }

    .btn-navbar {
      width: 187px;
      height: 52px;
    }
    
  }
  
  